extends pug/template

//-  Head
block append assets
   link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/8.0.0/sanitize.min.css")
   link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css")

block append styles

//- Body
block append header

block append content

block append footer

block append scripts